.catalog-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 80px auto 0;
  align-items: flex-start;
}

.catalog-filters {
  flex: 0 0 280px; 
  position: fixed;
  min-height: 1px;
  top: 100px;
  left: 100px;;
}

.catalog-products {
  flex: 1;
  background: #1a1f2e;
  border-radius: 12px;
  min-height: 600px;
  margin-left: 25%;
}

@media (max-width: 992px) {
  .catalog-layout {
    flex-direction: column;
    align-items: stretch;
  }

  .catalog-filters {
    width: 100%;
    flex: none;
  }
}

@media (max-width: 768px) {
  .catalog-layout {
    padding: 10px;
    margin-top: 80px;
  }
}