.cart-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item-image {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(to bottom right, #06b6d4, #9333ea);
  border-radius: 0.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details {
  flex: 1;
  padding: 0.5rem;
}

.item-price {
  font-weight: bold;
  font-size: 1.25rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-controls button {
  background: white;
  border-color: transparent;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0;
}

.quantity-controls button:hover {
  background-color: #06b6d4;
  color: white;
  border-color: inherit;
  cursor: pointer;
}

.remove-btn {
  width: 3.5rem;
  height: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  border-color: transparent;
}
.remove-btn:hover {
  background-color: red;
  color: white;
  border-color: inherit;
  cursor: pointer;
}
